<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <publishItem>
        <processor mode="on" type="Sitecore.Support.Sharepoint.Data.Providers.Pipelines.SkipUnchangedSharepointItems, Sitecore.Support.87606" patch:before="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']" />
      </publishItem>
    </pipelines>
  </sitecore>
</configuration>